{{ define "inicio" }}
{{ template "cabecera" }}
<style>
    .custom-table {
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
    }
    .custom-table th, .custom-table td {
        border: none;
        padding: 8px;
    }
    .custom-table thead th:first-child {
        border-top-left-radius: 10px;
    }
    .custom-table thead th:last-child {
        border-top-right-radius: 10px;
    }
    .custom-table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    .custom-table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
</style>
        <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar contacto nuevo</a>
        <br/><br/>
        <table class="table table-striped table-dark custom-table rounded">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Numero</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
        {{ range . }}
                <tr>
                    <td> {{ .Id }} </td>
                    <td> {{ .Nombre }} </td>
                    <td> {{ .Correo }} </td>
                    <td> {{.Numero}} </td>
                    <td>
                        <a name="" id="" class="btn btn-warning" href="/editar?id={{ .Id }}" role="button">Editar</a>    
                        |
                        <form action="/borrar" method="post" style="display: inline;" onsubmit="return confirm('¿Esta seguro de que quiere borrar este contacto?');">
                            <input type="hidden" name="id" value="{{ .Id }}">
                            <input type="submit" class="btn btn-danger" value="Borrar">
                        </form>
                    </td>
                </tr>
        {{ end }}
            </tbody>
        </table>
{{ template "piePagina" }}
{{ end }}
